{% extends 'index.html' %}

{% block main %}
    <div class="mb-4">
        <a href="{% url 'new_appointment' %}" class="btn btn-primary">Track Hours</a>
    </div>

    <table class="table mb-4">
        <thead class="thead-inverse">
            <tr>
                <th>Date</th>
                <th>Hours</th>
                <th>Project</th>
                <th>Task Category</th>
                <th>Task Description</th>
                <th>Comments</th>
                <th></th> <!-- Edit -->
                <th></th> <!-- Delete -->
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.hours }}</td>
                <td>{{ appointment.project }}</td>
                <td>{{ appointment.category }}</td>
                <td>{{ appointment.description }}</td>
                <td>{{ appointment.comments }}</td>
                <td><a href="{% url 'edit_appointment' appointment.pk %}">Edit</a></td>
                <td><a href="{% url 'delete_appointment' appointment.pk %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}